/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016/03/05, 18:55:46
    Author     : m
*/

body {
    background:#ffffff url("../sys/bg01.png") repeat;
    font-family: ÉÅÉCÉäÉI, sans-serif, 'Lucida Grande','Hiragino Kaku Gothic ProN', 'ÉqÉâÉMÉmäpÉS ProN W3',Meiryo;
}

.mainContents{
    width: 720px;
    margin: auto;
}

.mainContents textarea{
    width:100%;
    height:300px;
}

.explain{
    margin: 0 50px;
    font-size: 14px;
}

button{
    background-color: #5555BB;
    color : #ffffff;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    border: 2px;
    width: 100px;
    cursor: pointer;
}

#success{
    border: 1px solid #990000;
    background-color: #ffffff;
    margin: 50px 10px;
    color: #990000;
}